body {
  font-family: "Georgia", "Times New Roman", serif;
  color: #f4e4c1;
  margin: 0;
  padding: 0;
   background: radial-gradient(circle at top, #2d2520, #1f1a16);
}

.container {
  display: flex;
   min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.auth-section {
  background: linear-gradient(145deg, #2d2520, #1f1a16);
  padding: 2rem;
  border-radius: 12px;
  max-width: 420px;
  width: 100%;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.7);
  border: 2px solid #a37a2c;
}

.auth-section h2 {
  color: #e6c670;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.7);
  font-family: "Cinzel", "Georgia", serif;
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.auth-form label {
  color: #f1d89f;
  margin-top: 0.9rem;
  margin-bottom: 0.3rem;
  font-size: 0.95rem;
}

.auth-form input {
  padding: 0.6rem;
  border: 1px solid #a37a2c;
  border-radius: 6px;
  background: #2a221d;
  color: #f4e4c1;
  font-size: 0.95rem;
  transition: all 0.2s ease;
}


.auth-form input:focus {
  border-color: #e6c670;
  box-shadow: 0 0 6px #e6c670;
  outline: none;
}

.btn {
  color: #1a1414;
  margin-top: 1.5rem;
  padding: 0.8rem;
  border: none;
  border-radius: 6px;
  background: linear-gradient(145deg, #a37a2c, #8c6725);
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
  transition: transform 0.2s, background 0.3s;
}

.btn:hover {
  background: linear-gradient(145deg, #e6c670, #a37a2c);
  transform: scale(1.05);
}

.auth-form p {
  color: #d9c7a0;
  margin-top: 1.2rem;
  font-size: 0.85rem;
  text-align: center;
}

.auth-form a {
  color: #e6c670;
  font-weight: bold;
  text-decoration: none;
}

.auth-form a:hover {
  text-decoration: underline;
}

#mensagem {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.9rem;
  color: #f5e6b5;
}

.login-link {
  color: #d9c7a0;
  margin-top: 1.2rem;
  font-size: 0.85rem;
  text-align: center;
  cursor: pointer;
}

.login-link span {
  color: #e6c670;
  font-weight: bold;
  text-decoration: underline;
  transition: color 0.3s;
}

.login-link span:hover {
  color: #f4e4c1;
}
